In [1]:
import pandas as pd

Introduction About the Data :
The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond 

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up.

x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:

price: Price of the given Diamond.
Dataset Source Link : https://www.kaggle.com/competitions/playground-series-s3e8/data?select=train.csv

I have solved EDA step by step

In [20]:
df = pd.read_csv("https://raw.githubusercontent.com/geddadasuresh84326/Zip-files/master/gemstone_train.csv")

In [21]:
df.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [22]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [12]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [23]:
### Splitting the data into dependent and independent 

X = df.drop(labels=["price",'id'],axis=1)
y = df['price']

In [24]:
cat_columns = X.select_dtypes(include="object").columns
num_columns = X.select_dtypes(exclude="object").columns

In [25]:
cat_columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [26]:
num_columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [28]:
cut_categories=["Fair","Good","Very Good","Premium","Ideal"]
clarity_categories = ["I1","SI2","SI1" ,"VS2" , "VS1" , "VVS2" , "VVS1" ,"IF"]
color_categories = ["D" ,"E" ,"F" , "G" ,"H" , "I", "J"]

### Creating preprocessing pipeline

In [29]:
numerical_pipeline = Pipeline(
    steps=[
        ("imputer",SimpleImputer()),
        ("scaler",StandardScaler()),
        
    ]
)

In [30]:
cat_pipeline = Pipeline(
    steps=[
        ("imputer",SimpleImputer(strategy="most_frequent")),
        ("ordinalencoder",OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
)

In [31]:
preprocessor = ColumnTransformer(
    [
        ("numerical_pipeline",numerical_pipeline,num_columns),
        ("cat_pipeline",cat_pipeline,cat_columns)
    ]
)

In [32]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)